@{
    Layout = null;
}


<h1>Чатимся пацаны</h1>
@model ChatikOnline.Models.MessageHistory
<div class="signalr-demo">
    <form id="message-form">
        <input type="text" id="message-box" />
        <input type="submit" value="Отправить" />
    </form>
    <ul id="messages"></ul>
</div>

<form method="post" asp-controller="Account" asp-action="LogOff">
    <input type="submit" value="Log off" />
</form>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $("#sendButton").click(function () {
            $.ajax({
                type: "POST",
                url: "Chat/AddMessage",
                data: {
                    MessageText: $("#messageInput").val()
                }
            })
        });
    });
</script>

<script>
    const messageForm =
        document.getElementById('message-form');
    const messageBox = document.getElementById('message-box');
    const messages = document.getElementById('messages');

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.on('newMessage', (sender, messageText) => {
        console.log(` ${sender} : ${messageText} `);
        const newMessage = document.createElement('li');
        newMessage.appendChild(
            document.createTextNode(` ${sender} : ${messageText} `));
        messages.appendChild(newMessage);
    });
    connection.start()
        .then(() => console.log('connected!'))
        .catch(console.error);

    messageForm.addEventListener('submit', ev => {
        ev.preventDefault();
        const message = messageBox.value;
        connection.invoke('SendMessage', message);
        messageBox.value = '';
    });
</script>
